%h1 All the Kittens!
- @kittens.each do |kitten|
  %ul
    %li= link_to kitten.name, kitten_path(kitten)
    %li= kitten.age
    %li= kitten.cuteness
    %li= kitten.softness
    %li= link_to 'Edit', edit_kitten_path(kitten)
    %li= link_to 'Delete', kitten, method: :delete, data: { confirm: 'Are you sure you want to delete this kitten?'}
